.cuerpo{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(138,25,25,1) 61%);
  color: white;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.div1{
  background-color: rgb(255, 255, 255, 0.2);
}

.div2{
  margin-left: 1rem;
}

.memo{
  height: 100px;
  width: 100px;
  margin: 0.2rem;
}

.memo > img{
  width: 100%;
}
